.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
}
@media (max-width: 40em) {
    .footer{
       background-color: #181d22;
    }
}
.footer h4{
    margin-top: 100px;
    margin-left: -36px;
}
.footer h5{
    margin-bottom: 50px;
    font-size: large;
    width: max-content;
}
.footerbutton {
    position: absolute;
    left: 12px;
    width: 114px;
    height: 46px;
}
.footernav {
    list-style: none;
    z-index: 9;
    text-align: left;
    justify-content: center;
    margin: 0;
    padding-inline-start: 12px;
    border-radius: 8px;
    margin-left: 8px;
}
.foot2 {
    align-self: flex-end;
    
}
.footernav {
    margin-top: -24px;
}
.footernav li {
    margin-top: 0px;
}
.footerul li img {
    margin-right: 6px;
}
.quick {
    text-align: center;
    margin-left: -18px;
}
.copyright {
    margin-top: 0px;
}
@media (max-width: 40em) {
    .copyright {
       background-color: #181d22;
    }
}
@media (min-width: 40em) {
    .footernav li{
        display: inline;
        margin-right: 18px;
        font-size: small;
    }
}