.header {
    padding-left: 24px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(26, 32, 38, 1);
    margin-top: 0em;
}

.button {
    margin-top: -1em;
}

.navBar {
    position: relative;
  }
  
.navBar button {
    position: fixed;
    left: 5px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
}
  
.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #4AAAFF;
    left: 0;
    bottom: 0;
    height: 40vh;
    width: 100vw;
    /* overflow: hidden; */
    z-index: 9;
    display: none;
    text-align: center;
    justify-content: center;
    margin-top: 0;
}
  
.menuNav.showMenu {
    display: block;
}
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 4rem;
  }


.navBar button {
    background-color: transparent;
    border-width: 0;
    margin-top: -20px;
}
/* .navBar {
    transition-property: all; 
    transition-duration: 1s;
} */

.header_logo {
  margin-left: 40px;
}
  