.what h2 {
  margin-left: 20%;
}
.MNMA {
  color: #1c74c1;
}
.whatglowDot {
    /* position: absolute; */
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #1a2026;
    box-shadow: inset 0px 0px 10px 2px #4AAAFF,
                    0px 0px 10px 2px #1c74c1;
    animation: pulse 1s alternate infinite;
    bottom: 21px;
    right: 14px;
}

@keyframes pulse {
    0% {
      background: #1c74c1;
      box-shadow: none;
    }
    100% {
      background: #1c74c1;
      box-shadow: inset 0px 0px 10px 2px #1c74c1
                        0px 0px 15px 2px #93c9f8;
    }
  }