.what, h5 {
  text-align: left;
  padding-left: 12px;
  height: 23px;
  width: 140px;
  font-weight: 500;
}
.what, p {
  font-size: 0.8em;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  font-weight: 380;
  line-height: 1.5rem;
  font-size: smaller;
}
.MNMA {
  color: #1c74c1;
}
.whatglowDot {
    /* position: absolute; */
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #1a2026;
    box-shadow: inset 0px 0px 10px 2px #4AAAFF,
                    0px 0px 10px 2px #1c74c1;
    animation: pulse 1s alternate infinite;
    bottom: 21px;
    right: 14px;
}

@keyframes pulse {
    0% {
      background: #1c74c1;
      box-shadow: none;
    }
    100% {
      background: #1c74c1;
      box-shadow: inset 0px 0px 10px 2px #1c74c1
                        0px 0px 15px 2px #93c9f8;
    }
  }