.Why, h5 {
    text-align: left;
    padding-left: 12px;
    font-weight: 600;
    width: auto;
}
.whycontent.whycontent, h3 {
    padding-left: 12px;
    margin-bottom: 4px;
    margin-top: 32px;
}
.whycontent.whycontent >img {
    margin-top: 0;
}
.whycontent.whycontent > h5{
    margin-top: -0.4em;
}
.whycontent.whycontent > img {
    margin-left: 66px;
}
.container.container {
    position: relative;
    border-left:6px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color:rgba(54, 68, 81, 0.99);
}
.slider {
    position: absolute;
    border-left:4.4px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color:rgba(8, 103, 193, 0.99);
    height: 40px;
    left: -6px;
    animation: straightLine 8.5s infinite linear;
}

@keyframes straightLine {
    0% {
       transform: translate(1.6px);
    }
      100% {
        transform: translate(0, 130em);
    }
}
  